<div class="admin-page text-center">
    <div class="jumbotron">
        <div class="overlay">
            <div class="title">Easter Gameday Highlights</div>
            <div class="admin-services">
                <div class="service-label">8:30AM</div>
                <div class="guests">
                    <div class="guest-count"><%= guests[0] %></div>
                    <div class="guest-label">Guests</div>
                </div>
                <div class="children-services">
                    <div class="infants">
                        <div class="kid-count">5</div>
                        <div>Infants</div>
                    </div>
                    <div class="preschoolers">
                        <div class="kid-count">16</div>
                        <div>Preschoolers</div>
                    </div>
                    <div class="children">
                        <div class="kid-count">70</div>
                        <div>Children</div>
                    </div>
                </div>
            </div>
            <div class="admin-services">
                <div class="service-label">11:00AM</div>
                <div class="guests">
                    <div class="guest-count"><%= guests[1] %></div>
                    <div class="guest-label">Guests</div>
                </div>
                <div class="children-services">
                    <div class="infants">
                        <div class="kid-count">5</div>
                        <div>Infants</div>
                    </div>
                    <div class="preschoolers">
                        <div class="kid-count">16</div>
                        <div>Preschoolers</div>
                    </div>
                    <div class="children">
                        <div class="kid-count">70</div>
                        <div>Children</div>
                    </div>
                </div>
            </div>
            <div class="admin-services">
                <div class="service-label">1:30PM</div>
                <div class="guests">
                    <div class="guest-count"><%= guests[2] %></div>
                    <div class="guest-label">Guests</div>
                </div>
                <div class="children-services">
                    <div class="infants">
                        <div class="kid-count">5</div>
                        <div>Infants</div>
                    </div>
                    <div class="preschoolers">
                        <div class="kid-count">16</div>
                        <div>Preschoolers</div>
                    </div>
                    <div class="children">
                        <div class="kid-count">70</div>
                        <div>Children</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
