<div class="landing-page text-center">
    <div class="jumbotron">
        <div class="overlay">
            <div class="title">Easter Gameday Highlights</div>
            <div class="service-guests">
                <div><%= rsvps[0] %></div>
                <div><%= rsvps[1] %></div>
                <div><%= rsvps[2] %></div>
            </div>
        </div>
    </div>
</div>
