<div class="landing-page text-center">
    <div class="jumbotron">
        <div class="overlay">
            <div class="title">Your reservation has been saved</div>
            <div class="sub-title">Thank you!</div>
        </div>
    </div>
</div>
