<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body class="landing-page text-center">
        <div class="jumbotron">
            <div class="overlay">
                <div class="title">Highrock Easter Celebration</div>
                <div class="sub-title">Thank you!</div>
            </div>
        </div>
        <h1 class="title">Your reservation has been saved.</h1>
    </body>
</html>
